*{
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background-color: rgb(34, 34, 34);
}

.top-nav{
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 16px;
    box-shadow: 0px 8px 5px rgba(0,0,0,0.1);
}
.nav-heading{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.nav-list{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}

.nav-heading img{
    height: 50px;
}

.nav-heading h2{
    font-size: 34px;
}

.nav-heading h2 span{
    color: rgb(255, 255, 255);
    background-color: #3cd5da;
    padding: 6px 10px;
    border-radius: 16px;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    list-style-type: none;
}

.home-nav{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.text-gm{
    color: white;
}

.dev-nav{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.ser-nav{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.about-nav{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.log-in{
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.log-in:hover{
    background-color: rgb(192, 192, 192);
    color: black;
    border-color: black;
    cursor: pointer;
}

.si-in{
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    border-color: white;
    font-size: 16px;
    font-weight: 600;
}
.si-in:hover{
    background-color: rgb(192, 192, 192);
    color: black;
    border-color: black;
    cursor: pointer;
}

.nav-but{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.ban-img{
    height: 450px;
    width: 100%;
    object-fit: cover;
}

.sec-n1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
    padding: 12px 16px;
}

.in-about{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 15px;
}